 body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #292323;
 }

 * {
   margin: 0;
   box-sizing: border-box;
 }



 .mainbox {
   width: 475px;
   height: 475px;
   background-color: #331832;
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template: repeat(12, 1fr)/repeat(12, 1fr);

 }

 .container1 {
   grid-area: 6/4/13/10;
   background-color: #f1ecce;
   margin: 10px 19px 0px 19px;
 }

 .container2 {
   grid-area: 7/2/13/12;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 .circle {
   height: 115px;
   width: 115px;
   border-radius: 50%;
   place-self: center;
   background-color: #f1ecce;
   border: 12px solid #331832;
 }



 .c3 {
   grid-area: 1/6/4/8;
   height: 65px;
   width: 65px;
   place-self: center;
   margin-top: -20px;
 }

 .c4 {
   height: 90px;
   width: 90px;
   grid-area: 3/6/5/8;
 }

 .c5 {
   height: 114px;
   width: 114px;
   grid-area: 4/5/9/9;
   margin-bottom: 14px;
 }