   body {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background-color: #292323;
   }

   * {
     margin: 0;
     box-sizing: border-box;
   }



   .mainbox {
     width: 475px;
     height: 475px;
     background-color: #d6edff;
     position: relative;
     overflow: hidden;
     display: grid;
     grid-template: repeat(12, 1fr)/repeat(12, 1fr);

   }

   .bar {
     grid-area: 1/6/13/8;
     background-color: #8b95c9;
     width: 30%;
     height: 100%;
     place-self: center;
     margin-right: 28px;
   }

   .container {
     grid-area: 3/3/11/10;
     margin: 9px -5px 20px 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .box {
     background-color: #d6edff;
     border: 10px solid #8b95c9;
     border-width: 10px 25px;
     height: 50px;
     width: 100%;
   }

   .b1,
   .b6 {
     width: 60%;
   }

   .b2,
   .b5 {
     width: 85%;
     border-width: 10px 35px;
     height: 55px;
   }

   .b3,
   .b4 {
     width: 100%;
     border-width: 10px 35px;
   }