  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;

  }

  .mainbox {
    width: 475px;
    height: 475px;
    background-color: #87bba2;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;

  }

  .box {
    background-color: #e2e8c0;
    border-radius: 30px;
    height: 43%;
    width: 80%;

  }

  .b1,
  .b3,
  .b5 {
    display: grid;
    place-items: end;
    grid-area: 1/1/-1/-1;
    position: absolute;
  }

  .b2,
  .b4,
  .b6 {
    height: 92%;
    width: 93%;
    border-radius: 30px 0px 0px 0px;
    background-color: #87bba2;
  }

  .b1 {
    top: 100px;
    left: 20px;
  }

  .b3 {

    top: 140px;
    left: 70px;
  }

  .b5 {
    width: 72%;
    top: 180px;
    left: 120px;
  }

  .b6 {
    place-self: center;
    width: 75%;
    height: 75%;
    border-radius: 30px;
    display: grid;
    padding: 20px 30px;
    align-items: center;
  }

  .bar {
    height: 25px;
    width: 100px;
    background-color: #e2e8c0;
  }

  .bar:nth-child(2) {
    justify-self: center;
  }

  .bar:nth-child(3) {
    justify-self: end;
  }