  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }



 body {
   height: 100vh;
   width: 100vw;
   background-color: #000000;
   display: grid;
   place-items: stretch;
   place-content: center;
 }

 .mainbox {
   height: 475px;
   width: 475px;
   background-color: #f4f7be;
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template: repeat(12, 1fr)/repeat(12, 1fr);
 }

 .triangle {
   background-color: #823038;
   clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

 }

 .t1 {
   grid-area: 1/4/8/10;
   transform: rotate(180deg);
 }

 .t2 {
   grid-area: 4/4/13/10;
   height: 80%;
   align-self: end;

 }

 .t3 {
   grid-area: 1/2/7/6;
   transform: rotate(180deg);
   height: 80%;
   align-self: end;
 }

 .t4 {
   grid-area: 1/8/7/12;
   transform: rotate(180deg);
   height: 80%;
   align-self: end;
 }

 .t5 {
   grid-area: 6/8/12/12;

   height: 80%;
   align-self: end;
 }

 .t6 {
   grid-area: 6/2/12/6;

   height: 80%;
   align-self: end;
 }

 .t3,
 .t4,
 .t5,
 .t6 {
   height: 85%;


 }

 .diamond {
   background-color: #823038;

   height: 55%;
   width: 55%;
   place-self: center;

   transform: rotate(45deg)  skewX(-13deg);

 }

 .d1 {
   grid-area: 8/4/6/6;

 }

 .d2 {
   grid-area: 8/7/6/9;
   justify-self: end;

 }