   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   body {
     height: 100vh;
     width: 100vw;
     background-color: #07080B;
     display: flex;
     justify-content: center;
     align-items: center;

   }

   .mainbox {
     height: 475px;
     width: 475px;
     background-color: #ddf093;
     position: relative;
     overflow: hidden;
   }

   .flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .box,
   .shadow {
     height: 280px;
     width: 280px;
     background-color: #ce4760;
     border-radius: 25px;
     position: absolute;

   }

   .box {
     box-shadow: -10px -10px #ddf093;
     z-index: 100;
     margin-top: 50px;
     margin-left: 70px;
   }

   .shadow {
     height: 300px;
     width: 300px;
     border-radius: 20px;
     top: 60px;
     left: 50px;
     z-index: 99;

   }

   .smallbox {
     display: flex;
     gap: 50px;
     transform: rotate(45deg);
   }

   .circle {
     height: 60px;
     width: 60px;
     background-color: #ddf093;
     border-radius: 50%;
   }