    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }



    body {
      height: 100vh;
      width: 100vw;
      background-color: #000000;
      display: grid;
      place-items: stretch;
      place-content: center;
    }

    .mainbox {
      height: 475px;
      width: 475px;
      background-color: #7d8ca3;
      position: relative;
      overflow: hidden;
      display: grid;
      grid-template: repeat(12, 1fr)/repeat(12, 1fr);
    }


    .circle {
      background-color: #eccfc3;
      border-radius: 50%;

      height: 100%;
      width: 100%;
    }

    .c1 {
      grid-area: 4/1/10/7;
    }

    .c2 {
      grid-area: 4/7/10/13;
    }

    .c3 {
      grid-area: 4/4/10/10;
      border-radius: 50%;
      height: 80%;
      width: 80%;
      justify-self: center;

    }

    .stack {
      grid-area: 8/6/11/8;
      background-color: #eccfc3;
      width: 20%;
      justify-self: center;
      border-radius: 20px;
    }

    .c4,
    .c5 {
      background-color: #7d8ca3;
      height: 200px;
      width: 200px;
      position: absolute;

    }

    .c4 {
      top: 135px;
      left: -70px;
    }

    .c5 {
      top: 105px;
      left: 350px;
    }