 body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;

  }

  .mainbox {
    width: 475px;
    height: 475px;
    background-color: #49516f;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: repeat(12, 1fr)/repeat(12, 1fr);

  }

  .triangle {
    background-color: #8ea4d2;
  }

  .tr1 {
    grid-area: 2/2/7/6;
    margin-left:-8px;
    width:118%;
    height:103%;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  }

      .tr2 {
    grid-area: 3/7/9/10;
    margin-left:-32px;
    width:150%;
    height:88%;
        margin-top:-13px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
         
  }

    .tr3{
     grid-area: 4/1/9/6;
     clip-path: polygon(13% 25%,95% 25%,52% 100%);
  }

  
  .tr4{
    grid-area: 2/4/12/10;
    clip-path: polygon(10% 21%,100% 21%,55% 100%);
  }

    .tr5{
    grid-area: 4/7/10/13;
    clip-path: polygon(14% 21%,88% 20%,52% 96%);
  }