  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: #07080B;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .mainbox {
    height: 475px;
    width: 475px;
    background-color: #8c7a6b;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
     justify-content:space-between;
    gap: 80px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upper {
    gap: 100px;
     position:relative;
    bottom:-20px;
     
  }

  .u-left,
  .u-right {
    width: 120px;
    height: 40px;
    background-color: #d9cab3;
    transform: rotate(-22deg);
  }



  .middle {
    flex-direction: column;
  }

  .m-horizontal {
    height: 40px;
    width: 80px;
    background-color: #d9cab3;
  }

  .m-vertical {
    height: 70px;
    width: 40px;
    background-color: #d9cab3;
  }

  .lower {margin-left:5px;margin-top:8px;}

  .l-vertical {
    height: 40px;
    width: 37px;
    background-color: #d9cab3;
  }

  .l-horizontal {
    height: 37px;
    width: 160px;
    background-color: #d9cab3;
  }