  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;

  }

  .mainbox {
    width: 475px;
    height: 475px;
    background-color: #4e6766;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: 1fr/1fr;

  }


  .container1 {
    grid-area: 1/1/-1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .bar {
    background-color: #f7dd72;
    width: 27%;
    justify-self: center;
  }

  .b1 {
    margin-left: 50px;
  }

  .b2 {
    margin-right: 30px;
  }

  .container2 {
    background-color: #f7dd72;
    grid-area: 1/1/-1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 43%;
    width: 72%;
    margin-left: 10px;
    place-self: center;
    gap: 30px;
  }

  .bari {
    height: 74px;
    width: 60%;
    background-color: #4e6766;
    align-self: center;

  }

  .b4,
  .b5 {
    justify-self: center;
    z-index: 100;
  }

  .b6 {
    justify-self: end;
  }

  .container3 {
    grid-area: 1/1/-1/-1;
    display: grid;
    background-color: #f7dd72;
    height: 43%;
    width: 30%;
    place-self: center;
    margin-left: 10px;
    
  }

  .b7,
  .b8 {
    height: 33%;
    width: 43%;
    z-index: 100;
    background-color: #4e6766;
  }
  .b8{
    align-self: end;
  }