  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #292323;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }



  .mainbox {
    width: 475px;
    height: 475px;
    background-color: #0091ad;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: repeat(12, 1fr)/repeat(12, 1fr);

  }

  .container1,
  .container2 {
    grid-area: 4/4/10/10;
    background-color: #fff4e4;

    height: 83%;
    width: 83%;
    place-self: center;
  }

  .container1 {
    transform: rotate(45deg);
  }

  .container2,
  .container3,
  .container4 {
    display: grid;
    place-items: center;
  }

  .container2 {
    border-radius: 30px;
    z-index: 100;
  }

  .container3 {
    background-color: #0091ad;
    height: 83%;
    width: 83%;
    border-radius: 30px;

  }

  .container4 {
    background-color: #fff4e4;
    height: 80%;
    width: 80%;
    border-radius: 30px;

  }

  .container5 {
    background-color: #0091ad;
    height: 68%;
    width: 68%;
    border-radius: 30px;
  }

  .container6 {
    grid-area: 6/1/8/13;
    grid-template-columns: repeat(2, 1fr);
       
  }

  .container7 {
    grid-area: 1/6/13/8;
    grid-template-rows: repeat(2, 1fr);
     
  }

  .container6,
  .container7 {

    display: grid;
    z-index: 100;
    place-items:  center;
    gap: 260px;
  
  }

  .box {
    background-color: #fff4e4;
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
  }