  body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #000;
 }

 * {
   margin: 0;
   box-sizing: border-box;
 }

 body {
   display: grid;
   place-items: center;
   min-height: 100vh;

 }

 .mainbox {
   width: 475px;
   height: 475px;
   background: #f5ee9e;
   position: relative;
   overflow: hidden;
   display: grid;

   place-items: center;


 }

 .container {
   height: 80%;
   width: 70%;
   overflow: hidden;
   display: grid;
   grid-template: repeat(3, 1fr)/1fr;
 }

 .triangle {
   background-color: #ab3428;
   height: 100%;
   width: 100%;
 }

 .lefttr {

   clip-path: polygon(0% 0%, 40% 0%, 0% 100%);
   grid-area: 1/1/2/-1;
   height: 110%;
 }

 .righttr {
   grid-area: 1/1/2/-1;
   clip-path: polygon(60% 0%, 100% 0%, 100% 100%);
   justify-self: end;
   height: 110%;
 }

 .middlepart {
   grid-area: 1/1/-1/-1;
   background-color: #ab3428;
   clip-path: polygon(0% 50%, 50% 3%, 100% 50%, 100% 95%, 50% 50%, 0% 95%);
 }

 .bottomtr {
   grid-area: 3/1/3/-1;
   background-color: #ab3428;
   clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
   height: 140%;
   width: 100%;
   place-self: center;
 }