  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }



 body {
   height: 100vh;
   width: 100vw;
   background-color: #000000;
   display: grid;
   place-items: stretch;
   place-content: center;
 }

 .mainbox {
   height: 475px;
   width: 475px;
   background-color: #29524a;
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template: repeat(12, 1fr)/repeat(12, 1fr);

 }

 .circle {

   height: 95%;
   width: 95%;
   border-radius: 50%;
   border: 35px solid #94a187;

 }

 .c1 {
   grid-area: 4/2/10/8;
   place-self: center;
 }

 .c2 {
   grid-area: 4/6/10/12;
   place-self: center;
 }

 .c3 {
   grid-area: 2/4/8/10;
   align-self: center;
 }

 .c4 {
   grid-area: 6/4/12/10;
   place-self: center;
 }

 .box {
   background-color: #29524a;
   grid-area: 4/3/10/11;
   height: 70%;
   width: 100%;
   place-self: center;
   border-radius: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
 }

 .ball {
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: #94a187;
 }