   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   body {
     height: 100vh;
     width: 100vw;
     background-color: #07080B;
     display: flex;
     justify-content: center;
     align-items: center;

   }

   .mainbox {
     height: 475px;
     width: 475px;
     background-color: #f0d3f7;
     position: relative;
     overflow: hidden;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 50px;
   }

   .flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .upper,
   .lower {
     display: flex;
     position: relative;
   }

   .box1,
   .box2,
   .box3,
   .box4,
   .box5 {
     background-color: #1e352f;

   }

   .box1 {
      height: 124px;
     width: 120px;
     border-radius: 20px;
     position: absolute;
     top: -180px;
     left: -200px;
   }

   .box2 {
     height: 80px;
     width: 80px;
     border-radius: 30px;
     position: absolute;
     top: -157px;
     left: 90px;
   }

   .box3 {
      height: 80px;
     width: 139px;
     border-radius: 50%;
     position: absolute;
     top: 187px;
     left: 203px;
   }

   .box4 {
      height: 140px;
     width: 135px;
     border-radius: 20px;
     position: absolute;
     top: 40px;
     left: -190px;
   }

   .box5 {
     height:105px;
     width: 105px;
     border-radius: 30px;
     position: absolute;
     top: 65px;
     left: 90px;
   }