  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    display: grid;

    place-content: center;
  }

  .mainbox {
    height: 475px;
    width: 475px;
    background-color: #f45b69;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: repeat(12, 1fr)/repeat(12, 1fr);
  }



  .center-div {

    grid-area: 5/1/9/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
  }

  .ball,
  .shadow {

    border-radius: 50%;
    background-color: #ebebeb;
  }

  .ball {
    position: relative;
  }

  .b1 {
    grid-column: 2/3;
    height: 50px;
    width: 50px;
  }

  .b2 {
    grid-column: 4/5;
    height: 60px;
    width: 60px;


  }

  .b3 {
    grid-column: 6/8;
    height: 75px;
    width: 75px;

  }

  .b4 {
    grid-column: 11/11;
    height: 100px;
    width: 100px;
    z-index: 200;
  }

  .b5,
  .b6,
  .b7,
  .b8,
  .b9,
  .b10,
  .b11,
  .b12,
  .shadow {
    height: 100px;
    width: 100px;
  }

  .shadow {
    background-color: #f45b69;
    position: absolute;
    left: 40px;

  }

  .b5,
  .b6,
  .b7,
  .b8,
  .b9,
  .b10,
  .b11,
  .b12 {

    place-self: center;
  }

  .b5 {
    grid-area: 4/8/7/11;
    transform: rotate(45deg);
    z-index: 102;

  }

  .b6 {
    grid-area: 3/7/6/10;
    transform: rotate(45deg);
    z-index: 100;
    z-index: 101;
  }

  .b7 {
    grid-area: 2/6/5/9;
    transform: rotate(45deg);
    z-index: 100;
  }

  .b8 {
    grid-area: 1/5/4/8;
    transform: rotate(45deg);
  }


  .b9 {
    grid-area: 7/8/10/11;
    transform: rotate(-45deg);
    z-index: 99;

  }

  .b10 {
    grid-area: 8/7/11/10;
    transform: rotate(-45deg);
    z-index: 98;

  }

  .b11 {
    grid-area: 9/6/12/9;
    transform: rotate(-45deg);
    z-index: 97;
  }

  .b12 {
    grid-area: 10/5/13/8;
    transform: rotate(-45deg);
    z-index: 96;
  }