 
               * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }



   body {
     height: 100vh;
     width: 100vw;
     background-color: #000000;
     display: grid;
     place-items: stretch;
     place-content: center;
   }

   .mainbox {
     height: 475px;
     width: 475px;
     background-color: #ba324f;
     position: relative;
     overflow: hidden;
     display: grid;
     grid-template: repeat(12, 1fr)/repeat(12, 1fr);

   }

   .outer-box {
     background-color: #cce6f4;
     grid-area: 1/1/13/13;
     border-radius: 40px;
     height: 75%;
     width: 75%;
     place-self: center;

   }

   .inner-box {
     background-color: #ba324f;
     border-radius: 40px;
     grid-area: 3/3/11/11;
     height: 90%;
     width: 90%;
     place-self: center;
     display: grid;
     grid-template: repeat(12, 1fr)/repeat(12, 1fr);
   }

   .circle {
     border-radius: 50%;
     border: 17px solid #cce6f4;
     height: 90%;
     width: 90%;
     justify-self: center;
   }

   .c1 {
     grid-area: 2/2/6/6;
   }

   .c2 {
     grid-area: 2/8/6/12;
   }

   .bar {
     background-color: #cce6f4;
     width: 40%;
     justify-self: center;
   }

   .left-bar {
     grid-area: 5/3/13/5;
   }

   .right-bar {
     grid-area: 5/9/13/11;
   }

   .center-box {
     background-color: #cce6f4;
     grid-area: 7/5/9/9;
     height: 95%;
     width: 75%;
     place-self: center;
   }

   .c3,
   .c4 {
     background-color: #ba324f;
     border: none;

     align-self: center;
     width: 80%;
     height: 80%;
   }

   .c3 {
     grid-area: 6/6/8/8;
   }

   .c4 {
     grid-area: 8/6/10/8;
   }