 body {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background-color: #000;
 }

 * {
     margin: 0;
     box-sizing: border-box;
 }

 body {
     display: grid;
     place-items: center;
     min-height: 100vh;
     background: #111;
 }

 .container {
     width: 500px;
     height: 500px;
     background: #7648d8;
     position: relative;
 }



 .diamond {
     position: absolute;
     background: #fff;
     transform: rotate(45deg);
 }

 .s {
     width: 40px;
     height: 40px;
 }

 .m {
     width: 60px;
     height: 60px;
 }

 .l {
     width: 70px;
     height: 70px;
 }



 .tl1 {
     left: 35px;
     top: 20px;
 }

 .tl2 {
     left: 75px;
     top: 60px;
 }

 .tl3 {
     left: 135px;
     top: 120px;
 }



 .tr1 {
     right: 35px;
     top: 20px;
 }

 .tr2 {
     right: 75px;
     top: 60px;
 }

 .tr3 {
     right: 135px;
     top: 120px;
 }



 .bl1 {
     left: 35px;
     bottom: 20px;
 }

 .bl2 {
     left: 75px;
     bottom: 60px;
 }

 .bl3 {
     left: 135px;
     bottom: 120px;
 }



 .br1 {
     right: 35px;
     bottom: 20px;
 }

 .br2 {
     right: 75px;
     bottom: 60px;
 }

 .br3 {
     right: 135px;
     bottom: 120px;
 }



 .center {
     width: 120px;
     height: 120px;
     background: #fff;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%) rotate(45deg);

     display: grid;
     place-items: center;
 }

 .inner {
     width: 55px;
     height: 55px;
     background: #7648d8;
 }