  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;

  }

  .mainbox {
    width: 475px;
    height: 475px;
    background-color: #ff8484;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: repeat(12, 1fr)/repeat(12, 1fr);

  }

  .container1,
  .container2,
  .container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;


  }

  .container1 {
    grid-area: 2/2/6/12;

  }

  .container2 {
    grid-area: 5/2/11/12;
    width: 100%;
    gap: 40px;
    margin-top: -20px;
  }

  .container3 {
    grid-area: 9/2/13/12;
    width: 100%;
    gap: 81px;
    padding-bottom: 12px;
  }

  .container4 {
    grid-area: 2/5/8/9;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    gap: 50px;
  }

  .box {
    background-color: #d6ffb7;

    transform: rotate(45deg);
  }

  .b1,
  .b2 {
    width: 70px;
    height: 70px;
  }

  .b3,
  .b4 {
    width: 80px;
    height: 80px;

  }

  .b5,
  .b6 {
    width: 100px;
    height: 100px;
  }

  .b7,
  .b8 {
    width: 95px;
    height: 95px;
  }

  .b9{
    height:34px;
    width:34px;
    grid-area:8/6/11/8;
    place-self:center;
  }

  .b10{
    height:70px;
    width:70px;
    grid-area:10/6/13/8;
    place-self:center;
  }
 