 body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #000;
  }

  * {
      margin: 0;
      box-sizing: border-box;
  }

  body {
      display: grid;
      place-items: center;
      min-height: 100vh;

  }

  .mainbox {
      width: 475px;
      height: 475px;
      background:#08415c;
      position: relative;
      display: grid;
      grid-template: repeat(12, 1fr)/repeat(12, 1fr);


  }

  .box{
    border-color: #b5ffe1;
    border-style: solid;
    border-width: 20px;
  }

  .b1{
    grid-area:4/2/12/12 ;
   border-width: 35px 40px 0px 40px;
    
  }

  .b2{
    grid-area:4/2/10/12 ;
     border-width: 35px;
    height:90%;
  }
  .b3,.b4,.b5{
    width:80%;
    background-color:#b5ffe1;
  }

  .b3{
    grid-area: 2/4/9/5;
    margin-left: 16px;
    
  }

    .b4{
    grid-area: 2/6/9/8;
    width: 60%;
    justify-self: center;
  }

     .b5{
    grid-area: 2/9/9/10;
    margin-right: 16px;
  }

