  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(55, 62, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mainbox {
    height: 475px;
    width: 475px;
    background-color: #000103;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .div1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .triangle {
    height: 75px;
    width: 260px;
    background-color: #515052;
    clip-path: polygon(102% 50%, 0 0, 0% 100%);
  }

  .triangle:nth-child(2) {
    transform: rotate(180deg);
  }

  .div2 {
    display: flex;
    gap: 10px;
  }

  .div2:nth-child(2) {
    transform: rotate(180deg);
  }

  .box1,
  .box2,
  .box3 {
    background-color: #515052;
    height: 70px;
  }

  .box1 {
    width: 220px;
  }

  .box2,
  .box3 {
    width: 50px;
  }

  