  body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #000;
  }

  * {
      margin: 0;
      box-sizing: border-box;
  }

  body {
      display: grid;
      place-items: center;
      min-height: 100vh;

  }

  .mainbox {
      width: 475px;
      height: 475px;
      background: #75704e;
      position: relative;
      display: grid;
      grid-template: repeat(12, 1fr)/repeat(12, 1fr);


  }

  .container {
      background-color: #f4ebbe;
      grid-area: 1/1/13/13;
      width: 60%;
      height: 60%;
      place-self: center;
      transform: rotate(45deg);
      display: grid;
      place-items: center;
  }

  .center {
      grid-area: 3/3/11/11;
      height: 60%;
      width: 50%;
      border-color: #75704e;
      border-style: solid;
      border-width: 35px 25px;
      border-radius: 50%;
      z-index: 100;
      place-self: center;
      transform: rotateY(55deg);

  }

  .circle {
      background-color: #75704e;
      border-radius: 50%;
      height: 70%;
      width: 70%;
      place-self: center;
      z-index: 101;
       
  }

 

  .c1 {
      grid-area: 3/3/6/6;

  }

  .c2 {
      grid-area: 6/8/3/11;

  }

  .c3 {
      grid-area: 8/3/11/6;

  }

  .c4 {
      grid-area: 8/8/11/11;

  }